$TTL    604800
@       IN      SOA     {{ forward_zone_name  }}. admin.{{ forward_zone_name }}. (
                              4         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
; name servers - NS records
    IN      NS      {{ ansible_hostname }}.{{ forward_zone_name }}.
{% if dns_slave is defined %}
    IN      NS      {{ dns_slave }}.{{ forward_zone_name }}.
{% endif %}

; name servers - A records

{{ ansible_hostname }}.{{ forward_zone_name }}.          IN      A  {{ dnsmaster_ip }}     

; {{ ansible_default_ipv4.network }} {{ ansible_default_ipv4.netmask }} - A records
{{ ansible_hostname.ljust(20) }} IN      A      {{ dnsmaster_ip }}
{% for name, value in myhosts.items() %}
{% if value['alias'] is defined %}
{{ name.ljust(20) }} IN      CNAME      {{ value['alias'] }}
{% endif %}
{{ name.ljust(20) }} IN      A      {{ value['ip'] }}
{% endfor %}










