
options {
        listen-on port 53 { 10.20.30.254; 
                            {{ ansible_default_ipv4.address }};
        };

        listen-on-v6 port 53 { ::1; };
        directory       "/var/named";
        dump-file       "/var/named/data/cache_dump.db";
        statistics-file "/var/named/data/named_stats.txt";
        memstatistics-file "/var/named/data/named_mem_stats.txt";
        allow-query     { any; };

        recursion yes;

        dnssec-enable yes;
        dnssec-validation yes;

        /* Path to ISC DLV key */
        bindkeys-file "/etc/named.iscdlv.key";

        forwarders {
                     8.8.8.8;
                     8.8.4.4;
        };


        managed-keys-directory "/var/named/dynamic";

        pid-file "/run/named/named.pid";
        session-keyfile "/run/named/session.key";
};

logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};

zone "." IN {
        type hint;
        file "named.ca";
};

zone "{{ forward_zone_name }}" IN {
                type master;
                file "data/{{ forward_zone_file }}";
                allow-update { key ddserver; };
        };


zone "{{ reverse_zone_name }}.in-addr.arpa" {
    type master;
    file "data/{{ reverse_zone_file }}";
    allow-transfer { none; };  
};


include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";
include "/etc/named/ddserver.conf";
