$TTL    604800
@       IN      SOA     {{ forward_zone_name  }}. admin.{{ forward_zone_name }}. (
                              4         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
; name servers - NS records
    IN      NS      dnsmaster.mkdev.
    IN      NS      dnsclient.mkdev.

; name servers - A records
dnsmaster.mkdev.          IN      A       192.168.33.110

; 192.168.33.0/24 - A records
puppet.mkdev.       IN      A      192.168.33.1
nexus.mkdev.        IN      A      192.168.33.100
maven.mkdev.        IN      A      192.168.33.105
dnsclient.mkdev.    IN      A      192.168.33.111
